---
import Layout from "../layouts/Layout.astro";
import Dropbox from "../components/Dropbox.svelte";
---

<Layout>
  <main class="h-svh flex items-center justify-center">
    <Dropbox client:idle />
  </main>
</Layout>
