<header
  class="absolute h-[30%] w-full overflow-hidden flex flex-col items-center justify-end gap-10"
>
  <h1 class="text-5xl font-bold text-yellow-50">FraudVision</h1>
  <p class="text-xl text-yellow-200">
    Comprueba la veracidad de tus transacciones
  </p>
</header>
